@import "../../Theme.module.css";
.card {
  background-color: var(--secondary);
  padding: 30px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 28px;

  font-weight: bold;
  font-size: 30px;
  color: #fff;
}

@media (min-width: 1200px) {
  .card {
    max-width: 33vw;
    min-height: 100px;
  }
}
